ENV=development
APPLICATION_PORT=50060

DATA_SOURCE_URL=postgres://postgres:postgres@masterhub-db:5432/masterhub_db?sslmode=disable

JWT_SECRET=your-very-long-random-secret-32+chars
JWT_EXPIRATION=24h

# MinIO
MINIO_ENDPOINT=masterhub-minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=masterhub-media
MINIO_PUBLIC_HOST=http://localhost:9000/masterhub-media
MINIO_USE_SSL=false