ENV=development
APPLICATION_PORT=50057

DATA_SOURCE_URL=postgres://postgres:postgres@masterhub-db:5432/masterhub_db?sslmode=disable

JWT_SECRET=your-very-long-random-secret-32+chars
JWT_EXPIRATION=24h

USER_SERVICE_URL=masterhub-user-service:50051
SERVICE_SERVICE_URL=masterhub-service-service:50053
LOCATION_SERVICE_URL=masterhub-location-service:50054
NOTIFICATION_SERVICE_URL=masterhub-notification-service:50056
PAYMENT_SERVICE_URL=masterhub-payment-service:50058
