ENV=development
APPLICATION_PORT=50053

DATA_SOURCE_URL=postgres://postgres:postgres@masterhub-db:5432/masterhub_db?sslmode=disable

JWT_SECRET=your-very-long-random-secret-32+chars
JWT_EXPIRATION=24h

USER_SERVICE_URL=masterhub-user-service:50051
CATEGORY_SERVICE_URL=masterhub-category-service:50052