ENV=development
APPLICATION_PORT=50051

DATA_SOURCE_URL=postgres://postgres:postgres@masterhub-db:5432/masterhub_db?sslmode=disable

JWT_SECRET=your-very-long-random-secret-32+chars
JWT_EXPIRATION=24h
